body {
    font-family: 'Libre Baskerville', serif;
}

.jumbotron {
        background-image: url("../images/photo-1506818144585-74b29c980d4b.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0em;
        color: rgb(34, 34, 31);
        font-weight: 900;
}
.form-group {
    
    padding: 0 50px 0 50px;
}

.panel {
    background-color: white;
    
}

.panel-body {
    border: #6c757d;
}

.panel-heading {
    background-color: rgb(186, 213, 229);
    
}

h3 {
    color: #4e5357;
}

.btn {
    margin-left: 20px;
}


 